/* client/src/App.css */
@import url("bootstrap.min.css");

.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
  justify-items: center;
}
